@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Roboto&display=swap');


:root {
  --fontOswald: 'Oswald', sans-serif;
  --fontRoboto: 'Roboto', sans-serif;

  --background-color: #EAEAEA;
  --white: #FFFFFF;
  --grey: #F2F2F2;
  --grey-medium: #666666; 
  --grey-dark: #444444;
  --green: #68B738;
  --black: #000000;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--fontOswald);
  font-weight: 400;

  color: var(--black);
}

html, body {
  height: 100%;
}

html, body, header, main, footer {
  width: 100%;
}

/* Вспомогательные классы */
.section {
  width: 100%;
  overflow: hidden;
}

.section__title {
  margin-bottom: 2rem;
  font-size: 2.25rem;
  line-height: 1;
}

@media screen and (min-width: 768px) {
  .section__title {
  margin-bottom: 3.75rem;
    font-size: 3.75rem;
  }
}

.section__text {
  font-family: var(--fontRoboto);
  font-size: .875rem;
  line-height: 1.3;

  color: var(--grey-dark);
}
@media screen and (min-width: 768px) {
  .section__text {
  font-size: 1rem;
  line-height: 1.5;
  }
}

.container {
  width: 100%;

  margin-right: auto;
  margin-left: auto;

  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;

    padding: 0 15px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;

    padding: 0 15px;
  }
}

.button {
  padding: .875rem 1.625rem;

  font-size: 1.25rem;
  text-align: center;
  text-transform: uppercase;
}

.button_green {
  background-color: var(--green);
  color: var(--white);

  transition: opacity .2s;
}

/* Начало сайта */

.header {
  width: 100%;
  position: relative;

  padding-top: 1.5rem;
  padding-bottom: .625rem;
}

.header-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header-wrap {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding-top: 3.3125rem;
  }
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img:first-child {
  margin-right: .875rem;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav__link {
  display: none;

  transition: border-bottom .2s;
}

@media screen and (min-width: 768px) {
  .header-nav__link {
    display: block;
    margin-left: 2.25rem;

    border-bottom: 2px solid transparent;

    font-size: 1.125rem;
    color: var(--black);

    text-transform: uppercase;
  }
}

@media screen and (min-width: 1280px) {
  .header-nav__link {
    display: block;
    margin-left: 2.25rem;

    border-bottom: 2px solid transparent;

    font-size: 1.25rem;
    color: var(--white);

    text-transform: uppercase;
  }
}

@media screen and (min-width: 768px) {
  .header-nav__link:hover {
    border-bottom: 2px solid var(--green);
  }
}

@media screen and (min-width: 1280px) {
  .header-nav__link:hover {
    border-bottom: 2px solid var(--white);
  }
}


/* Фоновое изображение справа */
.header-bg {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -5;
  width: 100%;
  max-width: 800px;
}

@media screen and (min-width: 768px) {
  .header-bg {
    display: none;
    width: 0;
  }
}

@media screen and (min-width: 1280px) {
  .header-bg {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
  }
}

.header-bg__img {
  display: block;
  width: 100%;
}

.header-bg:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(104, 183, 56, 0.85);
}

/* Фоновое изображение справа */

.main {
  flex-grow: 1;
}

/* Section lead */


.lead-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .lead-box {
    position: relative;

    padding: 50px 0px 0 90px;
  }
}

@media screen and (min-width: 1280px) {
  .lead-box {
    padding: 0 6rem;

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

.lead-text {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .lead-text {
    width: 65%;
    margin-bottom: 28rem;
  
    align-items: flex-start;
  }
}
@media screen and (min-width: 1280px) {
  .lead-text {
    width: 40%;
    margin-bottom: 0;
  }
}

.lead__title {
  width: 340px;
  margin-top: 2rem;
  margin-bottom: 1.6rem;
  
  font-size: 2.25rem;
  line-height: 2.25rem;
  text-align: center;
  
  color: var(--white);
}

@media screen and (min-width: 768px) {
  .lead__title {
    width: 100%;
    margin-top: 0;
    margin-bottom: 2.5rem;
  
    font-size: 3.75rem;
    line-height: 3.75rem;
    text-align: left;
  
    color: var(--black);
  }
}

.lead__subtitle {
  margin-bottom: 2rem;

  font-size: .875rem; 
  text-transform: uppercase;

  color: var(--white);
}
@media screen and (min-width: 768px) {
  .lead__subtitle {
    margin-bottom: 3rem;

    font-size: 1.25rem;

    color: var(--black);
  }
}

.lead__button {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .lead__button {
    width: auto;
  }
}

.lead__button:hover {
  opacity: .90;
}

.lead-image {
  width: 100%;
  z-index: -2;
}

@media screen and (min-width: 768px) {
  .lead-image {
    position: absolute;
    top: 20rem;
    left: 5rem;
  }
}

@media screen and (min-width: 1280px) {
  .lead-image {
    position: static;
  }
}

/* Секция - программы похудения */

.wrapper {
  padding: .75rem 0;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1.875rem;
}

@media screen and (min-width: 1280px) {
  .wrapper {
    padding: 5rem 0;
  
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 5rem;
  }
}

.packs-category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 1.375rem 2rem 1.125rem 1.375rem;
  background-color: var(--grey);
}

@media screen and (min-width: 1280px) {
  .packs-category {
    padding: 2.6rem 3.25rem 3.5rem;
  }
}

.packs-title {
  margin-bottom: 1.375rem;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1.25rem;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .packs-title {
    margin-bottom: 2.5rem;

    grid-gap: 3.875rem;
  }
}

.packs-title__text {
  font-size: 1.5rem;
  text-transform: uppercase;
}

@media screen and (min-width: 1280px) {
  .packs-title__text {
    font-size: 2rem;
  }
}

.packs__descr {
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;

  border-bottom: 1px solid #D9D9D9;
}

@media screen and (min-width: 1280px) {
  .packs__descr {
    padding-bottom: .75rem;
    margin-bottom: .75rem;

    font-size: 1.2rem;
    line-height: 1.5;

    border: 1px solid transparent;
  }
}

.packs-link {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  text-transform: uppercase;

  color: var(--black);
}

.packs-link svg {
  width: 2rem; 
  height: .75rem;
  margin-left: 1.75rem;
  transition: transform .5s;
}

.packs-link:hover svg {
  transform: scaleX(1.25);
}

/* advantages-list */
.advantages {
  margin: 1rem 0;
}

.advantages-list {
  width: 100%;

  margin-left: -1.5rem;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  counter-reset: li;
}

.advantages-item {
  width: 100%;
  padding: .625rem 1.25rem;
  position: relative;
  overflow: hidden;

  display: grid;
  grid-template-columns: 3.75rem 1fr;
  grid-gap: 20px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .advantages-item {
    display: block;
    width: 45%;
    margin-bottom: 2.5rem;
    padding: 2.5rem 1.5rem;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-item {
    width: 20%;
  }
}

@media screen and (min-width: 768px) {
  .advantages-item::after {
    counter-increment: li;
    content: counter(li);
    position: absolute;
    right: 0;
    top: 3rem;
  
    font-size: 15rem;
    line-height: 0.5;
    
    color: var(--grey);
    z-index: -1;
  }
}

.advantages-item__icon {
  width: 3.75rem;
  height: 3.75rem;
  padding: 1rem;
  display: inline-block;

  background-color: var(--green);
}

@media screen and (min-width: 768px) {
  .advantages-item__icon {
    margin-bottom: 2rem;
    width: 5rem;
    height: 5rem;
    padding: 1.5rem;
  }
}

.advantages-item__icon svg {
  fill: var(--white);
}
/* /advantages-list */

/* section results ////////////////////////////////////////////////// */
.results {
  padding: 1.75rem 0;
  background-color: var(--background-color);
}
@media screen and (min-width: 768px) {
  .results {
    background-color: var(--white);
  }
  .results::before {
    content: '';
    margin-bottom: 2.6rem;

    display: block;
    width: 100%;
    height: 1px;

    background-color: var(--grey-medium);
  }
}

.block {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .block {
    margin-top: 2.5rem;
    margin-bottom: 3.75rem;
    flex-direction: row;
    align-items: center;
  }
}

.results-total {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .results-total {
    width: 60%;
  }
}

.results-total__after {
  margin-bottom: 1.625rem;
  position: relative;

  width: 45%;
  padding: 1rem 0;

  text-align: center;
  border: 1px solid var(--grey-medium);
}
@media screen and (min-width: 768px) {
  .results-total__after {
    margin-bottom: 0;
  }
}

.results-total__title {
  font-size: 1.5rem;
  line-height: 1;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .results-total__title {
    font-size: 1.875rem;
    line-height: 1.3;
  }
}

.results-total_small {
  width: 20%;

  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  font-size: .75rem;
  line-height: 1;

  background-color: var(--background-color);
}
@media screen and (min-width: 768px) {
  .results-total_small {
    width: 50%;
    background-color: var(--white);
  }
}

.results__cost {
  margin-bottom: 1rem;

  font-size: .875rem;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .results__cost {
    margin-bottom: 0;
    width: 25%;

    font-size: 1.25rem;
    line-height: 1;
    text-align: right;
  }
}

.results-slider__img {
  display: block;
  margin: 0 auto;
}
/* /section results */

/* footer */
.footer {
  background-color: var(--grey);
}
.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 3.75rem 0;
}

.footer-social {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 1.75rem;
  align-items: center;
}

.footer-social__link svg > path {
  stroke: var(--grey-medium);

  transition: stroke 0.2s linear;
}

.footer-social__link:hover svg > path {
  stroke: var(--grey-dark);
}

.footer__link--editor {
  color: var(--grey-medium);

  transition: color 0.2s linear;
}

.footer__link--editor:hover {
  color: var(--dark);
}

/* /footer */